# Echos-Style-Code
Code for echos web style


/* echos style */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  text-align: center; /* align text to the center */
}

h1,
h2,
h3 {
  color: #333;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

img {
  max-width: 100%;
  height: auto;
}
label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

label {
  display: block;
  margin-bottom: 10px;
}
