

/* echos style */

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to left top, rgb(225, 0, 255), rgb(255, 255, 0));
  background-attachment: fixed; /*edit*/
  margin: 0;
  text-align: center; /* align text to the center */
}

h1,
h2,
h3 {
  color: #000000;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  background-color: rgb(225, 0, 255);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(225, 0, 255);
}

img {
  max-width: 100%;
  height: auto;
}

textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

label {
  display: block;
  margin-bottom: 10px;
 }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 0);
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 255, 0);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 0);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: rgb(255, 255, 0);}

.dropdown:hover .dropdown-content {
  display: block;
}

ul {
  font-size: 28px
}
